<div class="container-fluid h-100 w-100 no_pad" style="background-color: burlywood;">
    <cms-header></cms-header>

    <div class="container-fluid h-100 w-100" style="background-color: cadetblue;">
        <div class="row justify-content-center" style="background-color: tomato;">Home page rest
        </div>
        <div class="row h-100" style="background-color: white;">
            <div class="container-fluid">
                <div class="row h-100" style="padding: 5px">
                    <div class="col-sm h-100" style="background-color: chartreuse;">1st</div>
                    <div class="col-sm h-100" style="background-color: cyan;"> 2nd</div>
                    <div class="col-sm h-100" style="background-color: darkcyan;">3rd</div>
                </div>
            </div>
        </div>
    </div>
</div>