<div>{{ 'LOGIN.TITLE' | translate }}</div>
<div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
</div>
<div class="col-md-12">
    <span style="background-color: aquamarine;" class="col-md-6">afjakjfkajfakfja</span>
    <div style="background-color: rebeccapurple;" class="col-md-6">ttttttttttttttttttt</div>
</div>
<input type="text" [(ngModel)]="val">