<div class="container-fluid flex-fill h-100 w-100 no_pad">
    <div class=" row  justify-content-center align-items-center h-100 ">
        <div class="card">
            <div class="card-header">
                <h3>{{'LOGIN.signInTitle' | translate}}</h3>
                <div matTooltip="Login with facebook" matTooltipPosition="after"
                    class="d-flex justify-content-end social_icon">
                    <span><i (click)="loginByFb()" class="material-icons md-48">facebook</i></span>
                    <!-- <span><i class="material-icons md-48">facebook</i></span>
                    <span><i class="material-icons md-48">facebook</i></span> -->
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="userFormG" (ngSubmit)="userFormGSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons md-24">person</i>
                            </span>
                        </div>
                        <input formControlName="username" type="text" class="form-control"
                            [placeholder]="'LOGIN.username' | translate">

                    </div>
                    <div class="error_msg d-flex justify-content-end"
                        *ngIf="(userFormG.get('username')?.dirty || userFormG.get('username')?.touched) && userFormG.get('username')?.errors?.required">
                        {{'LOGIN.errUsername' | translate}}
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons md-24">vpn_key</i>
                            </span>
                        </div>
                        <input formControlName="password" type="Password" class="form-control"
                            [placeholder]="'LOGIN.password' | translate">
                    </div>
                    <div class="error_msg d-flex justify-content-end"
                        *ngIf="(userFormG.get('password')?.dirty || userFormG.get('password')?.touched) && userFormG.get('password')?.errors?.required">
                        {{ 'LOGIN.errPassword' | translate}}
                    </div>
                    <div class="row align-items-center remember">
                        <input formControlName="remember"
                            type="checkbox">{{'LOGIN.rememberMe' | translate}}
                    </div>
                    <div class="form-group">
                        <input type="submit" [value]="'BUTTON.login' | translate"
                            class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    {{'LOGIN.noAcc' | translate}}<a
                        href="#/signup">{{'LOGIN.signUp' | translate}}</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#/forgotpassword">{{ 'LOGIN.forgotPass' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>