/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { 
    height: 100%;
    background-image: url('assets/images/bg_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: black;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// sai

.no_pad {
    padding: 0 !important;
    margin: 0 !important; 
 }


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// snack bar - ang mat 
.sb_success{
    color: greenyellow;
    background-color: grey;
}
.sb_error{
    color: red;
    background-color: khaki;
}